<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sk.menu.model.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.sk.menu.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="treeId" property="treeid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rel" property="rel" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="INTEGER" />
  </resultMap>
  <select id="listSelect" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from bg_menu where 1=1 and kind like CONCAT('%','${kind}','%' ) 
  </select>
</mapper>