<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.sk.menu.model.SysGroupChildren" alias="sysGroupChildren"/>
		<typeAlias type="com.sk.menu.model.SysGroup" alias="sysGroup"/>
		<typeAlias type="com.sk.menu.model.MyProject" alias="myProject"/>
		<typeAlias type="com.sk.menu.model.UserKind" alias="userKind"/>
		<typeAlias type="com.sk.menu.model.User" alias="user"/>
	</typeAliases>
</configuration>
